<manifest package="com.zqy.sdk.sui">

<!--    <application>-->
<!--        <provider-->
<!--            android:name="android.support.v4.content.FileProvider"-->
<!--            android:authorities="${applicationId}.fileProvider"-->
<!--            android:exported="false"-->
<!--            android:grantUriPermissions="true"-->
<!--            tools:replace="name,authorities,exported,grantUriPermissions">-->
<!--            <meta-data-->
<!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
<!--                android:resource="@xml/file_paths"-->
<!--                tools:replace="name,resource" />-->
<!--        </provider>-->


<!--    </application>-->
</manifest>

