<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zqy.superui">

    <application>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/super_ui_file_paths"
                tools:replace="name,resource" />
        </provider>
        <!--android:windowSoftInputMode="stateHidden|adjustPan"
                stateHidden  默认不显示输入法焦点
                adjustPan，软键盘弹出时，平推整个界面
                adjustResize，软键盘弹出时，推可推之处-->
        <activity
            android:name=".core.ui.activity.preview.SuperUISinglePreviewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SuperUI_AppTheme"
            />
        <activity
            android:name=".core.ui.activity.preview.SuperUIMultiPreviewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SuperUI_AppTheme" />


    </application>
</manifest>

